<div class="attendanceDetailsContainer">
    <form #attendanceDetailsForm="ngForm">
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field detailsColumn">

                <label>StudentId </label>
                <input type="text" pInputText id="studentId" name="studentId" placeholder="studentId"
                    [(ngModel)]="attendanceDetails.studentId" disabled>

                <label>Department Id</label>
                <input type="text" pInputText id="departmentId" name="departmentId" placeholder="departmentId"
                    [(ngModel)]="attendanceDetails.departmentId" disabled>

                <label>Available<span>*</span></label>
                <p-dropdown [options]="availability" #available="ngModel" optionValue="type" appendTo="body"
                    optionLabel="name" placeholder="Available" [required]="true" name="available"
                    [(ngModel)]="attendanceDetails.available"></p-dropdown>

                <small *ngIf="!available.touched &&  !fieldSelected" id="username-help" class="p-error">Available is
                    required.</small>

                <label>Date<span>*</span></label>
                <p-calendar id="date" name="date" [required]="true" #date="ngModel" appendTo="body" inputId="time"
                    [(ngModel)]="attendanceDetails.date" placeholder="Date"></p-calendar>
                <small *ngIf="!date.touched &&  !fieldSelected" id="username-help" class="p-error">Date is
                    required.</small>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field detailsColumn">

                <label>CheckIn<span>*</span></label>
                <p-calendar [showTime]="true" hourFormat="12" id="checkIn" name="checkIn" appendTo="body"
                    [timeOnly]="true" [required]="true" #checkIn="ngModel"
                    [(ngModel)]="attendanceDetails.checkIn" placeholder="CheckIn"></p-calendar>
                <small *ngIf="!checkIn.touched &&  !fieldSelected" id="username-help" class="p-error">CheckIn is
                    required.</small>

                <label>Checkout<span>*</span></label>
                <p-calendar [showTime]="true" hourFormat="12" id="checkout" name="checkout" appendTo="body"
                    [timeOnly]="true" [required]="true" #checkout="ngModel" placeholder="CheckOut"
                    [(ngModel)]="attendanceDetails.checkout"></p-calendar>
                <small *ngIf="!checkout.touched &&  !fieldSelected" id="username-help" class="p-error">Checkout is
                    required.</small>

                <label>Attendance Count<span>*</span></label>
                <input type="text" pInputText id="attendanceCount" name="attendanceCount" placeholder="attendanceCount"
                    pattern="[0-9]+$" required #attendanceCount="ngModel" 
                    [(ngModel)]="attendanceDetails.attendanceCount">
                <small *ngIf="!attendanceCount.touched && attendanceCount.invalid &&  !fieldSelected" id="username-help"
                    class="p-error">Attendance Count is required.</small>
                <small *ngIf="attendanceCount.invalid && attendanceCount.touched " id="username-help"
                    class="p-error">Attendance Count is Inavild.</small>

            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field detailsColumn">

                <label>CreatedSource</label>
                <input type="text" pInputText id="createdSource" name="createdSource" placeholder="createdSource"
                    disabled>

                <label>CreatedSourceType</label>
                <input type="text" pInputText id="createdSourceType" name="createdSourceType"
                    placeholder="createdSourceType" disabled>

                <label>CreatedDttm</label>
                <input type="text" pInputText id="createdDttm" name="createdDttm" placeholder="createdDttm" disabled>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field detailsColumn">

                <label>ModifiedSource</label>
                <input type="text" pInputText id="modifiedSource" name="modifiedSource" placeholder="modifiedSource"
                    disabled>

                <label>ModifiedSourceType</label>
                <input type="text" pInputText id="modifiedSourceType" name="modifiedSourceType"
                    placeholder="modifiedSourceType" disabled>

                <label>ModifiedDttm</label>
                <input type="text" pInputText id="modifiedDttm" name="modifiedDttm" placeholder="modifiedDttm" disabled>


            </div>

            <div class="detailsButtons">
                <button type="button" class="p-button-primary Buttons" pButton label="Save"
                    (click)="fieldSelected=false; attendanceDetailsForm.valid && onSubmit()"></button>
                <button type="button" class="p-button-secondary Buttons" pButton label="Cancel"
                    (click)=" canExit()"></button>
            </div>
        </div>

        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="1"
            rejectButtonStyleClass="p-button-text"></p-confirmDialog>

    </form>
</div>