.attendanceDetailsContainer{
    padding: 20px;
    margin: 10px 10px 0px;

}

.detailsColumn>*{
    display: inline-block;
    width: 90%;
}

.detailsColumn>input{
    margin-bottom: 20px;
}

span{
    color: red;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.detailsButtons{
    width: 100%;
    display: flex;
    justify-content: right;
}

.Buttons{
    margin: 0px 5px;
    width: 100px;
   
}
:host ::ng-deep .p-button.Buttons{
    font-size:17px;  
    padding: 10px 1px;
  }


:host ::ng-deep .p-dropdown, :host ::ng-deep.p-calendar{
    width: 100% !important;
    margin-bottom: 20px;
}