<div class="form-div" >
    <form >
        <div class="img_container">
            <img src="assets/ItorizonLogo.png"  style="width: 60%;">
            <h2>{{formType}}</h2>
            <p>{{formContent}}</p>
        </div>
        <div class="user_container">
            <label for="user_id">User ID<span style="color: red;">*</span></label>
            <input pInputText type="text" name="user_id" id="user_id" #user_id>

            <label for="password">Password<span style="color: red;">*</span></label>
            <!-- <input type="text" pPassword   [feedback]="false" (toggle)="true" placeholder="Enter Password" > -->
            <p-password 
                [inputStyle]="{'width':'370px'}"
                [toggleMask]="true" 
                [feedback]="false"
                #password >
            </p-password>
            <a *ngIf="!isSignUp" class="links">Forgot Password?</a>
        </div>
        <div class="buttons">
            <button *ngIf="!isSignUp" pButton class="p-button-primary" label="Login" (click)="login(user_id.value, password.value); "></button>
            <button *ngIf="isSignUp" pButton class="p-button-primary" label="SignUp" (click)="signUp(user_id.value, password.value); "></button>
            <!-- <button pButton class="p-button-danger" label="Cancel" (click)="cancel()"></button> -->
        </div>
        <p *ngIf="!isSignUp">Dont have an account? <a  class="links" (click)="signUpOption()">SignUp</a></p>
         <a *ngIf="isSignUp"  class="links"  (click)="loginOption()" >Login</a>
       
    </form>
</div>
