<div class="course-container">
    <div><img src={{course.image}} width="560" alt=""></div>
    <div>
        <h1 style="text-align: center;" *ngIf="!editMode">{{course.name}}</h1>
        <div style="text-align: center;" *ngIf="editMode"><input type="text" [(ngModel)]="course.name"></div>
    </div>
    <div class="course-detailes">
        <div style="margin: 0px 10px;"><b>Author: </b>{{course.author}}</div>
        <div style="margin: 0px 10px;"><b>Duration: </b>{{course.duration}}</div>
        <div style="margin: 0px 10px;"><b>Type: </b>{{course.type}}</div>
    </div>
    <div style="margin: 20px 10px;">
        <h2>{{course.description}}</h2>
    </div>
    <!-- <a [routerLink]="['/Courses/Coures', 101]">go to first course</a> -->
    <!-- <button [routerLink]="['/Courses/Coures', course.id]" [queryParams]="{edit:true}">edit</button> -->
    <button class="btn btn-secondary" (click)="queryPara()">edit</button>
    <button class="btn btn-secondary" (click)="editMode=false" [routerLink]="['/Courses/Coures', course.id]">Update</button>

</div>