<!-- <h3>appp component</h3>
<app-life-cycle-hooks></app-life-cycle-hooks> -->
<!-- <div class="container">
  <input type="text" #input>
  <button (click)="onSubmit(input)">submit</button>
  <app-life-cycle-hooks
   [value]="inputText" *ngIf="destroy">
   <h4>this is projected contenet{{inputText}}</h4>
  </app-life-cycle-hooks>
  <br>
  <button (click)="Destroy()">Destroy</button> -->
<!-- </div> -->

<!-- contentChild -->
<!-- <h2>this is app component</h2>
<app-content-child>
  <p #para>this is a paragra</p>
</app-content-child> -->

<!-- custom attribute directive -->

<!-- <h1 setBackground  setBorder setBorderRadius>header</h1>
<div class="container" setBackground setBorder>
  <p  >this is a demo HTML CONTENT to understand custom attribute directive</p>
</div> -->

<!-- <div setBorder >
  <p >this is a demo HTML CONTENT to understand custom attribute directive</p>
</div>
<app-renderer2></app-renderer2> -->

<!-- <app-content-child>
  <input type="text"  #para name="" id="">
</app-content-child> -->

<!-- hostlistener
<div class="container" setBorder>
  <p>Implement this callback to add a comment to the DOM of the host element.</p>
</div>
<div appHost setBorder setBackground >
  <p #pp>Implement this callback to add a comment to the DOM of the host element.</p>

</div> -->

<!-- hostlistener -->
<!-- <div class="container" setBorder>
  <p>Implement this callback to add a comment to the DOM of the host element.</p>
</div>
<div  setBorder setBackground appHost>
  <p #pp>Implement this callback to add a comment to the DOM of the host element.</p>

</div> -->
<div class="container" setBorder hostBinding>
  <p>HostBinding</p>
</div>
