<app-navbar>
    <div class="table-div" *ngIf="showAttendanceDetails && !childComponentOpend">

        <p-dialog [(visible)]="dialogShow" [modal]="true" [style]="{width: '500px'}" position="center">
            <ng-template pTemplate="header">
                <h3>Student Detailes</h3>
            </ng-template>
            
            <label>Student ID: </label>
            <!-- <p-calendar  id="date" name="date"  ngModel [required]="true" #date="ngModel" appendTo="body" inputId="time" [(ngModel)]="attendanceDetails.date" ></p-calendar> -->
            <input type="text" pInputText  pattern="[0-9]+$" placeholder="Student Id"  ngModel required #checkStd="ngModel" #checkStdId>
            <p  *ngIf="checkStd.invalid && checkStd.dirty" id="username-help" class="p-error">Student Id is required (Number)</p>

            <label>Department ID: </label>
            <input type="text" pInputText  pattern="[0-9]+$"  placeholder="Department Id" ngModel  required #checkDept="ngModel" #checkDeptId >
            <p  *ngIf="checkDept.invalid && checkDept.dirty" id="username-help" class="p-error">Departmnet Id is required (Number)</p>

            <ng-template pTemplate="footer">
                <p-button label="Cancel" (onClick)="dialogShow=false"></p-button>
                <p-button label="Confirm" (onClick)=" checkStudentId(checkStd.value, checkDept.value)"></p-button>
                <!-- <small  *ngIf="date.invalid && date.touched" id="username-help" class="p-error">Date is required</small> -->
            </ng-template>
        </p-dialog>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="1"
            rejectButtonStyleClass="p-button-text"></p-confirmDialog>

        <p-toast></p-toast>
        <p-table #dt styleClass="p-datatable-striped" [scrollable]="true" scrollHeight="500px" [value]="attendanceData"
            [rows]="paginatorValue" [globalFilterFields]="['studentId']" [paginator]="true" [resizableColumns]="true"
            [totalRecords]="attendanceData.length" pageLinkSize="5" [showJumpToPageDropdown]="false"
            [showFirstLastIcon]="false">
            <!-- <p-paginator [rows]="3" [totalRecords]="selectedstudentDatas1" [rowsPerPageOptions]="[2,4,6]" [showJumpToPageDropdown]="true"></p-paginator> -->
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="top-div">
                        <h3>Attendance List</h3>
                        <div class="topButtons">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Global Search" />
                            </span>
                            <p-dropdown [options]="paginatorDropdown" optionValue="rows" optionLabel="rows"
                                [(ngModel)]="paginatorValue"></p-dropdown>
                            <button *ngIf="loggedInUser=='admin' " pButton class="p-button-info addButtons"
                                (click)="showDialog()" label="+ADD"></button>
                        </div>
                    </div>

                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr class="table_head">
                    <ng-container *ngFor="let header of attendanceTableHeader">
                        <th><span>{{header.name}}</span><p-sortIcon pSortableColumn="{{header.fieldName}}" field="{{header.fieldName}}"></p-sortIcon></th>
                    </ng-container>
                    <th><span>Delete</span></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-attendance>
                <tr (dblclick)="attendanceDetailesEdit(attendance.studentId)">

                    <td>{{attendance.studentId}}</td>
                    <!-- <td>{{attendance.month}}</td> -->
                    <td>{{attendance.date | date :" dd/MM/yyyy "}}</td>
                    <td>{{attendance.departmentId}}</td>
                    <!-- <ng-container [ngClass]="{available: attendance.available==true }"> -->
                    <td><button class="availabelButton"
                            [ngStyle]="{'background-color':attendance.available == 'true' ? 'rgb(75, 230, 75)' : 'rgb(232, 42, 42)' }">{{attendance.available
                            | titlecase}}</button></td>
                    <!-- </ng-container> -->
                    <td>{{attendance.checkIn |date :" hh:mm a "}}</td>
                    <td>{{attendance.checkout | date :" hh:mm a "}}</td>
                    <td>{{attendance.attendanceCount}}</td>
                    <td>{{attendance.createdSource}}</td>
                    <td>{{attendance.createdSourceType}}</td>
                    <td>{{attendance.createdDttm | date :" dd/MM/yyyy, h:mm a "}}</td>
                    <td>{{attendance.modifiedSource}}</td>
                    <td>{{attendance.modifiedSourceType}}</td>
                    <td>{{attendance.modifiedDttm | date :" dd/MM/yyyy, h:mm a "}}</td>
                    <!-- </ng-container> -->
                    <td><button pButton type="button" label="Delete" [disabled]="loggedInUser!='admin' "
                            (click)="deleteAttendanceRecord(attendance.studentId, attendance.departmentId)"
                            class="p-button-rounded p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td  colspan="16">no data available</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngIf="childComponentOpend">
        <router-outlet (deactivate)="ngOnInit()"></router-outlet>
    </div>
</app-navbar>