<div *ngIf="showStudentDetailes">
    <div class="grid">
        <div class="col-12  md:col-12 lg:col-6 field eachColumn">
            <div>
                <!-- class="col-12 sm:col-12 md:col-6 lg:col-6" -->
                <label class="col-6">Student ID: </label>
                <label class="col-6">{{studentData.studentId }} </label>
            </div>
            <div>
                <label class="col-6">First Name: </label>
                <label class="col-6">{{studentData.firstName}}</label>
            </div>
            <div>
                <label class="col-6">Last Name: </label>
                <label class="col-6">{{studentData.lastName}}</label>
            </div>
            <div>
                <label class="col-6">Date Of Birth: </label>
                <label class="col-6">{{studentData.dob | date: "dd/MM/yyyy"}}</label>
            </div>
            <div>
                <label class="col-6">Phone Number </label>
             <div>
                <label class="col-6">Gender: </label>
                <label class="col-6">{{studentData.gender}}</label>
            </div>
               <label class="col-6">{{studentData.phoneNumber}}</label>
            </div>
            <div>
                <label class="col-6">Mail ID: </label>
                <label class="col-6">{{studentData.mailId}}</label>
            </div>
            <div>
                <label class="col-6">Address: </label>
                <label class="col-6">{{studentData.address}}</label>
            </div>
            <div>
                <label class="col-6">Date of Joining: </label>
                <label class="col-6">{{studentData.dateOfJoining | date: "dd/MM/yyyy"}}</label>
            </div>
        </div>
        <div class="col-12  md:col-12 lg:col-6 field eachColumn">
            <div>
                <label class="col-6">Department: </label>
                <label class="col-6">{{studentData.department }} </label>
            </div>
            <div>
                <label class="col-6">Department ID: </label>
                <label class="col-6">{{studentData.departmentId}}</label>
            </div>
            <div>
                <label class="col-6">Created Source: </label>
                <label class="col-6">{{studentData.createdSource}}</label>
            </div>
            <div>
                <label class="col-6">Created Source Type: </label>
                <label class="col-6">{{studentData.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">CreatedDttm: </label>
                <label class="col-6">{{studentData.createdDttm | date :" dd/MM/yyyy, h:mm a "}}</label>
            </div>
            <div>
                <label class="col-6">Modified Source: </label>
                <label class="col-6">{{studentData.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">Modified Source Type: </label>
                <label class="col-6">{{studentData.modifiedSourceType }}</label>
            </div>
            <div>
                <label class="col-6">ModifiedDttm: </label>
                <label class="col-6">{{studentData.modifiedDttm | date :"dd/MM/yyyy, h:mm a "}}</label>
            </div>
        </div>
    </div>
    <button pButton label="Edit" (click)="editStudentDetailes()"></button>
    <button pButton label="Back" (click)="ngOnDestroy()"></button>
</div>
    <div class="studentDetailsContainer" [ngStyle]="{'display': showStudentDetailes === false ? 'block' : 'none' }">
        <!-- make form validation method as a service -->
        <!-- work on local and global css -->
        <form (ngSubmit)="   onSubmint()"  #studentDetailsForm="ngForm" ngNativeValidate>
            <div class="formgrid grid">

                <div class="col-12  md:col-6 lg:col-4 field eachColumn">
                    <label>StudentId </label>
                    <input type="text" pInputText id="studentId" name="studentId" placeholder="studentId" ngModel
                        required readonly>
                    <label>First Name<span>*</span> </label>
                    <input type="text" pInputText pKeyFilter="alpha" id="firstName" name="firstName"
                        placeholder="firstName" ngModel required>
                    <label>Last Name<span>*</span></label>
                    <input type="text" pInputText pKeyFilter="alpha" id="lastName" name="lastName"
                        placeholder="lastName" ngModel required>
                    <label>DOB<span>*</span></label>
                    <input type="date" pInputText id="dob" name="dob" placeholder="dob" ngModel required>
                    <label>Gender<span>*</span></label>
                    <input type="text" pInputText id="gender" name="gender" placeholder="gender" ngModel required>
                    <label>Blood Group</label>
                    <input type="text" pInputText id="bloodGroup" name="bloodGroup" placeholder="bloodGroup" ngModel>

                </div>
                <div class="col-12 md:col-6 lg:col-4 field eachColumn">
                    <label>PhoneNumber</label>
                    <input type="text" pInputText pKeyFilter="num" id="phoneNumber" name="phoneNumber"
                        placeholder="phoneNumber" ngModel>
                    <label>Address</label>
                    <input type="text" pInputText id="address" name="address" placeholder="address" ngModel>
                    <label>Department<span>*</span></label>
                    <input type="text" pInputText id="department" name="department" placeholder="department" ngModel
                        required>
                    <label>Department Id<span>*</span></label>
                    <input type="text" pInputText id="departmentId" name="departmentId" placeholder="departmentId"
                        ngModel required>

                    <label>Mail Id<span>*</span></label>
                    <input type="text" pInputText id="mailId" name="mailId" placeholder="mailId" ngModel required>

                    <label>Date Of Joining<span>*</span></label>
                    <input type="date" pInputText id="dateOfJoining" name="dateOfJoining" placeholder="dateOfJoining"
                        ngModel required>
                </div>
                <div class="col-12 md:col-6 lg:col-4 field eachColumn">
                    <label>CreatedSource</label>
                    <input type="text" pInputText id="createdSource" name="createdSource" placeholder="createdSource"
                        ngModel readonly>
                    <label>CreatedSourceType</label>
                    <input type="text" pInputText id="createdSourceType" name="createdSourceType"
                        placeholder="createdSourceType" ngModel readonly>
                    <label>CreatedDttm</label>
                    <input type="text" pInputText id="createdDttm" name="createdDttm" placeholder="createdDttm" ngModel readonly>
                    <label>ModifiedSource</label>
                    <input type="text" pInputText id="modifiedSource" name="modifiedSource" placeholder="modifiedSource"
                        ngModel readonly>
                    <label>ModifiedSourceType</label>
                    <input type="text" pInputText id="modifiedSourceType" name="modifiedSourceType"
                        placeholder="modifiedSourceType" ngModel readonly>
                    <label>ModifiedDttm</label>
                    <input type="text" pInputText id="modifiedDttm" name="modifiedDttm" placeholder="modifiedDttm"
                        ngModel readonly>
                </div>


            </div>
            <button type="submit" class="btn btn-success" [disabled]="!studentDetailsForm.touched && !studentDetailsForm.dirty">Submit</button>
            <button type="button" class="btn btn-info" (click)="canExit()">Cancel</button>

        </form>
    </div>