.container {
    margin: 10px 35px 0px;
    width: auto;
}

.detailContainer {
    margin-bottom: 5px;
    background-color: white;
}

@media screen and (min-width: 200px) {
    .detailContainer {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        margin: 10px 10px 0px;
    }

}

.studentImageContainer {
    width: 100%;
    max-height: 200px;
    height: 50%;
    text-align: center;
}

#imagePath {
    margin-top: 5px;
    margin-bottom: 6px;
    border: 0px;
}

.studentImageContainer img {
    display: block;
    width: 100%;
    max-height: 200px;
    margin: 10% 0px;
    height: 100%;
    object-fit: contain;
}

.detailsColumn>* {
    display: inline-block;
    width: 90%;
}



.detailsColumn>label {
    margin-top: 20px;
}

.studentDetailsContainer {
    padding: 0px 20px;
    overflow-y: auto;
}

span {
    color: red;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.imageNameContainer {
    display: flex !important;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 6px;
    padding: 3px 5px;
    background-color: #ffffff;
}

.genderContainer {
    flex-wrap: wrap;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}

.buttons {
    margin: 0px 5px;
    width: 100px;
}

:host ::ng-deep .p-dropdown,
:host ::ng-deep.p-calendar {
    width: 100% !important;
}

:host ::ng-deep .p-button.buttons {
    font-size: 17px;
    padding: 10px 1px;
}