<div class="wrapper">
  <!-- <app-server>okk</app-server>
  <app-demo></app-demo>
  <app-customer-list #customer></app-customer-list>
  <p>You have selected {{customer.selectedCustomer?.name}}</p> -->

  <!-- age -->
  <div> 
     <label>DOb:</label>
    <input type="date" #dobInput (input)="calAge()">
  </div>
  <div>
    <label>Age:</label>
    <input type="text" #ageInput>
  </div>
  <app-age></app-age>
  <p>  {{ageComp.sayHello()}} </p>
</div>
    
<!-- <app-output (greetEvent)="gt($event)"></app-output>
<input type="text" #myV> -->