.table_head th{
    background-color:rgba(200, 198, 198, 0.733) ;
}
.table_head th:hover{
    background-color:rgba(200, 198, 198, 0.97) ;
}
.table-div{
    margin: auto;
    width: 1200px;
    border: 1px solid rgba(200, 198, 198, 0.97) ;
}
.top-div{
    display: inline-block;
}
p-columnFilter{
    width: 100%;
}