<!-- <div>
  <p>1st paragraph</p>
  <button>button</button>
</div> -->
<div class="container">
  <div class="more-products">
    <app-products>
      <h4 class="title">NEw IN Iphone</h4>
      <button class="btn btn-more">showMore</button>
    </app-products>
    <app-products>
      <h4 class="title">NEw IN samsung</h4>
      <button class="btn btn-more">showMore</button>

    </app-products>
    <app-products>
      <h4 class="title">NEw IN onplus</h4>
      <button class="btn btn-more">showMore</button>

    </app-products>
    <app-products>
      <h4 class="title">NEw IN MI</h4>
      <button class="btn btn-more">showMore</button>
    </app-products>

  </div>
</div>