
                <!-- class="col-12 sm:col-12 md:col-6 lg:col-6" -->
    <div class="grid">
        <div class="col-12  md:col-12 lg:col-6 field eachColumn">
           
            <div>
                <label class="col-6">Department Id: </label>
                <label class="col-6">{{departmentData.departmentId}}</label>
            </div>
            <div>
                <label class="col-6">Department Name: </label>
                <label class="col-6">{{departmentData.departmentName}}</label>
            </div>
            <div>
                <label class="col-6">No Of Employee: </label>
                <label class="col-6">{{departmentData.noOfEmployee }} </label>
            </div>
            <div>
                <label class="col-6">managerId: </label>
                <label class="col-6">{{departmentData.managerId}}</label>
            </div>
            <div>
                <label class="col-6">Created Source: </label>
                <label class="col-6">{{departmentData.createdSource}}</label>
            </div>
        </div>
        <div class="col-12  md:col-12 lg:col-6 field eachColumn">
           
            <div>
                <label class="col-6">Created Source Type: </label>
                <label class="col-6">{{departmentData.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">CreatedDttm: </label>
                <label class="col-6">{{departmentData.createdDttm}}</label>
            </div>
            <div>
                <label class="col-6">Modified Source: </label>
                <label class="col-6">{{departmentData.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">Modified Source Type: </label>
                <label class="col-6">{{departmentData.modifiedSourceType}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedDttm: </label>
                <label class="col-6">{{departmentData.modifiedDttm}}</label>
            </div>
        </div>
    </div>
    <button pButton label="Back" (click)="departmentPage()"></button>
