.departmentDetailsContainer {
    margin: 10px ;
    width: auto;
    background-color:whitesmoke;
}

.detailsColumn>* {
    width: 100%;
}

.detailsColumn {
   background-color: white;
}

.detailsButtons {
    width: 93%;
    display: flex;
    justify-content: right;
    margin: 0px 20px;
}

.buttons {
    margin: 0px 5px;
    width: 100px;

}

:host ::ng-deep .p-button.buttons {
    font-size: 17px;
    padding: 10px 1px;
}