

.homePageLoggedDetailes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 10px 20px 30px; */
    margin: 5px 20px;
}

.homePageLogo {
    width: 12%;
    min-width: 130px;
}

.homePageLogo img {
    width: 100%;
}

.loggedInDetailes {
    width: 180px;
    display: flex;
    justify-content: space-around;
    /* ju */

    align-items: baseline;
}

.navBar {
    /* height: 25px; */
    background-color: rgb(2, 124, 152);
    position: sticky;
    z-index: 10;
    top: 0px;
}

.nav {
  
    /* justify-content: space-between; */
    list-style-type: none;
    margin: auto 40px;
  
}

.nav li {
    float: left;
}

.nav li:hover {
    background-color: rgb(36, 202, 240);
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* to style active link */
.active {
    background-color: rgb(36, 202, 240);
}

.dashBoard {
    height: 80px;
    padding: 10px 20px 20px 40px;
    background-color: rgb(36, 202, 240);
}
.dashBoard>*{
    display: inline-block;
    margin-left: 2%;
    font-size: x-large;
    color: white;
    font-weight: bold;
    /* size: 300%; */
    /* size: ; */
}

.content {
    /* padding: 20px ; */
    min-height: 400px;

    /* made maxheigh as below to remove hole scroll */
    height: 460px;
    border: 2px solid black;
    margin: 15px 20px 0px 40px;
    position: relative;
    top: -50px;
    background-color: whitesmoke;
    overflow: auto;
}

.footer {
    background-color: rgb(2, 124, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* text-align: center; */
    position: static;
    /* align-items: baseline; */
    left: 0;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 750px) and (max-width:1400px){
    .footer {
        position: static;
    }
    .content{
        height: auto;
    }
  }
  @media only screen and (min-width: 1400px) {
    .footer {
        position: fixed;
    }
    /* .content{
        height: auto;
    } */
  }