<div class="form-div" >
    <form >
        <div class="img_container">
            <img src="assets/ItorizonLogo.png" alt="" style="width: 60%;">
            <h2>Login</h2>
            <p>Please use Registered UserID and Password</p>
        </div>
        <div class="user_container">
            <label for="user_id">User ID<span style="color: red;">*</span></label>
            <input pInputText type="text" name="user_id" id="user_id" #user_id>

            <label for="password">Password<span style="color: red;">*</span></label>
            <!-- <input type="text" pPassword   [feedback]="false" (toggle)="true" placeholder="Enter Password" > -->
            <p-password 
                [inputStyle]="{'width':'370px'}"
                [toggleMask]="true" 
                [feedback]="false"
                #password>
            </p-password>
            <a ><span style="color: blue;">Forgot Password?</span></a>
        </div>
        <div class="buttons">
            <button pButton class="p-button-primary" label="Login" (click)="login(user_id.value, password.value); "></button>
            <button pButton class="p-button-danger" label="Cancel"></button>
        </div>
        <p>Dont have an account? <span style="color: blue;">SignUp</span></p>
       
    </form>
</div>