<nav class="navbar navbar-default">
    <div class="container-fluid d-flex">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>

        </div>
        <div class=" navPage">
            <ul class="nav  navbar-lef ">
                <li class="nav-item active"><a href="#" (click)="onSelect('recipe')" class="nav-link">Recipes</a></li>
                <li class="nav-item active"><a href="#" (click)="onSelect('shopping-list')" class="nav-link">ShoppingList</a></li>
                <li class="nav-item active">
                    <ul class="nav ">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle">Manage</a>
                            <ul class="dropdown-menu">
                                <li><a href="">Save Data</a></li>
                                <li><a href="">Fetch Data</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>