.container{
    margin: 30px 10px 0px;
}

.detailContainer {
    margin-bottom: 5px;
    background-color: white;
}
.detailsColumn>*{
    display: inline-block;
    width: 90%;
}

.detailsColumn>input{
    margin-bottom: 20px;
}


.detailsButtons{
    width: 100%;
    display: flex;
    justify-content: right;
}
.Buttons{
    margin: 0px 5px;
    width: 100px;
   
}

:host ::ng-deep .p-dropdown, :host ::ng-deep.p-calendar{
    width: 100% !important;
    margin-bottom: 20px;
}