.container{
    margin: 30px 10px 0px;
   }
.eachColumn>*{
    display: inline-block;
    width: 90%;
    /* border: 1px solid red; */
}
.eachColumn>input{
    margin-bottom: 20px;
}
.studentDetailsContainer{
    padding: 20px;
}
span{
    color: red;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.buttonDiv{
    /* height: 40%; */
    display: flex;
    vertical-align: middle;
    /* border: 1px solid red; */
    
    /* align-items: ; */
}
.buttonDiv>*{
    /* height: 15%; */
    /* width: 100%; */
    /* margin-top: 10%; */
}
.detailsButtons{
    width: 100%;
    display: flex;
    justify-content: right;
    /* text-align: right; */
    /* margin: 10px 20px 0px;
    position: absolute;
    bottom: 0px; */
}
.addButtons{
    margin: 0px 5px;
    width: 100px;
   
}

:host ::ng-deep .p-dropdown, :host ::ng-deep.p-calendar{
    width: 100% !important;
    margin-bottom: 20px;
}