.detailsColumn>*{
    display: inline-block;
    width: 90%;
}

.detailsColumn>label{
    margin-top: 20px;
}

.studentDetailsContainer{
    padding: 20px;
    margin: 0px 10px 0px;
    overflow-y: auto;
}

span{
    color: red;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.genderContainer{
    flex-wrap: wrap;
}

#imagePath{
    margin-top: 11px;
    width: 100%;
}
.imageContainer {
    margin-top: 2px;
    margin-bottom: 6px;
    padding: 3px 5px;
    background-color: #ffffff;
}

.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: right;
}

.buttons{
    margin: 0px 5px;
    width: 100px;
}

:host ::ng-deep .p-button.buttons{
    font-size:17px;  
    padding: 10px 1px;
  }
:host ::ng-deep .p-dropdown, :host ::ng-deep.p-calendar{
    width: 100% !important;
}