<!-- <app-navbar> -->

<!-- <div class="card">
    <h5>Vertical and Grid</h5>
    <div class="formgrid grid">
        <div class="field col">
            <label for="firstname2">Firstname</label>
            <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col">
            <label for="lastname2">Lastname</label>
            <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
</div> -->

<!-- <div class="grid">
    <div class="col-6">6</div>
    <div class="col-6">6</div>
    <div class="col-6">6</div>
    <div class="col-6">6</div>
</div> -->
<div class="studentDetailsContainer">
    <form (ngSubmit)="   onSubmit(studentDetailsForm)"  #studentDetailsForm="ngForm"   >
        <div class="formgrid grid" >

            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field eachColumn">
                <label>StudentId </label>
                <input type="text" pInputText  id="studentId" name="studentId" placeholder="studentId" [(ngModel)]="studentId"  readonly>

                <label>First Name<span>*</span> </label>
                <input type="text" pInputText pKeyFilter="alpha" id="firstName" name="firstName"  placeholder="firstName" ngModel required #firstName="ngModel">
                <small  *ngIf="firstName.invalid && firstName.touched" id="username-help" class="p-error">First Name is required.</small>

                <label>Last Name<span>*</span></label>
                <input type="text" pInputText pKeyFilter="alpha" id="lastName" name="lastName" placeholder="lastName" ngModel required #lastName="ngModel">
                <small  *ngIf="lastName.invalid && lastName.touched" id="username-help" class="p-error">Last Name is required.</small>

                <label>DOB<span>*</span></label>
                <!-- <input type="date" pInputText  id="dob" name="dob" placeholder="dob" ngModel required #dob="ngModel"> -->
                
                <p-calendar  [maxDate]="createdDttm"  ngModel name="dob" [readonlyInput]="true" #dob="ngModel" [required]="true" ></p-calendar>
                <small  *ngIf="dob.invalid && dob.touched" id="username-help" class="p-error">Date of Birth is required</small>

                <label>Gender<span>*</span></label>
                <div class="flex ">
                    <div class="flex align-items-center">
                        <p-radioButton name="gender" value="male" [(ngModel)]="genderSelected" inputId="male" ngModel #gender="ngModel"></p-radioButton>
                        <label for="male" class="ml-2">Male</label>
                    </div>
                    
                    <div class="flex align-items-center">
                        <p-radioButton name="gender" value="female" [(ngModel)]="genderSelected" inputId="female" ngModel #gender="ngModel"></p-radioButton>
                        <label for="female" class="ml-2">Female</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="gender" value="others" [(ngModel)]="genderSelected" inputId="others" ngModel #gender="ngModel"></p-radioButton>
                        <label for="others" class="ml-2">Others</label>
                    </div>
                </div>
                <small  *ngIf="gender.invalid && gender.touched" id="username-help" class="p-error">Gender is required.</small>

               
                

            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field eachColumn">
                <label>Blood Group</label>
                <p-dropdown [options]="bloodGroupList" ngModel  
                            optionLabel="type" placeholder="bloodGroup" name="bloodGroup"
                            >
                </p-dropdown>

                <label>PhoneNumber</label>
                <input type="text" pInputText pKeyFilter="num" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber" [maxLength]="10" [minlength]="10" ngModel >

                <label>Address</label>
                <input type="text" pInputText  id="address" name="address" placeholder="address" ngModel >

                <label>Mail Id<span>*</span></label>
                <input type="text" pInputText id="mailId" name="mailId" placeholder="mailId" ngModel #mailId="ngModel" required email="true" >
                <small  *ngIf="mailId.invalid && mailId.touched" id="username-help" class="p-error">Mail Id is required.</small> 


                <label>Department<span>*</span></label>
                <p-dropdown [options]="departmentList" ngModel  #department="ngModel"
                            optionLabel="department" placeholder="Department" name="department"
                            [required]="true" 
                            >
                </p-dropdown>
                <small  *ngIf="department.invalid && department.touched" id="username-help" class="p-error">Departmnet is required.</small>

                <!-- <small  *ngIf="department.invalid && department.touched" id="username-help" class="p-error">Departmnet is requiered.</small> -->

               
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field eachColumn">

                <label>Department Id<span>*</span></label>
                <!-- <input type="text" pInputText  id="departmentId" name="departmentId" placeholder="departmentId" ngModel required #departmentId="ngModel" > -->
                <p-dropdown [options]="departmentList" ngModel #departmentId="ngModel"
                            optionLabel="departmentId" placeholder="DepartmentId" name="departmentId" [required]="true" 
                            >
                </p-dropdown>
                <small  *ngIf="departmentId.invalid && departmentId.touched" id="username-help" class="p-error">Departmnet Id is required.</small>

               

                <label>Date Of Joining<span>*</span></label>
                <!-- <input type="date" pInputText  id="dateOfJoining" name="dateOfJoining" placeholder="dateOfJoining" ngModel required #dateOfJoining="ngModel"> -->
                <p-calendar  [minDate]="createdDttm"  ngModel name="dateOfJoining" [readonlyInput]="true" #dateOfJoining="ngModel" [required]="true" ></p-calendar>
                <small  *ngIf="dateOfJoining.invalid && dateOfJoining.touched" id="username-help" class="p-error">Date Of Joining is required</small>

                <label>CreatedSource</label>
                <input type="text" pInputText  id="createdSource" name="createdSource" [(ngModel)]="createdSource" placeholder="createdSource" ngModel readonly>

                <label>CreatedSourceType</label>
                <input type="text" pInputText  id="createdSourceType" name="createdSourceType" [(ngModel)]="createdSourceType" placeholder="createdSourceType" ngModel readonly >

                <label>CreatedDttm</label>
                <input type="text" pInputText  id="createdDttm" name="createdDttm" [(ngModel)]="createdDttm"  placeholder="createdDttm" ngModel readonly >

               
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 field eachColumn">
                <label>ModifiedSource</label>
                <input type="text" pInputText  id="modifiedSource" name="modifiedSource" placeholder="modifiedSource" ngModel [(ngModel)]="modifiedSource"  readonly>

                <label>ModifiedSourceType</label>
                <input type="text" pInputText  id="modifiedSourceType" name="modifiedSourceType"  placeholder="modifiedSourceType" ngModel [(ngModel)]="modifiedSourceType"  readonly >

                <label>ModifiedDttm</label>
                <input type="text" pInputText  id="modifiedDttm" name="modifiedDttm" placeholder="modifiedDttm" ngModel [(ngModel)]="modifiedDttm" readonly>

                <div class="buttonDiv">
                    <button type="submit" class="p-button-primary" pButton label="Save"></button>
                    <button type="cancel" class="p-button-warning" pButton (click)="canExit()" label="Cancel"></button>
                </div>
                
                <p-toast></p-toast>
            </div>

        </div>
        

    </form>
</div>   

<!-- <div class="formgroup">
    <div class="field">
        <label for="firstname5" class="p-sr-only">Firstname</label>
        <input id="firstname5" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" placeholder="Firstname">
    </div>
    <div class="field">
        <label for="lastname5" class="p-sr-only">Lastname</label>
        <input id="lastname5" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" placeholder="Lastname">
    </div>
    <button type="button" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Submit</button>
</div> -->


<!-- </app-navbar> -->